<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update {{p.name}}</title>
</head>

<body oncontextmenu="return false" class="snippet-body">

  {% include 'navbar.html' %}

  {%load crispy_forms_tags%}


  <div class="row">
    <div class="container">
      {%block content%}

      <form method="POST" enctype="multipart/form-data" class="card-body">
        {% csrf_token %}

        {{form|crispy}}

        <button class="nav-link btn btn-primary text-white" type="submit">Update</button>

      </form>
      {%endblock content%}
    </div>

</body>

</html>