<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
   
</head>
<body>

{%block content  %}
<div class="alert alert-info" >            
successfully password changed you can done login now
<br><br>
<a href="{% url 'login'%}"class="btn btn-primary">login now</a>

</div>
 
{%endblock content  %}
</body>
